# Filial-side
FILIAL_ID = 'Name' # used for distinguish connections on server-side
SERVER_URI = 'druby://server_ip:8083'
CALLBACK_URI = 'druby://client_ip:20083'
SECONDS_WAIT_SERVER = 10
FILIAL_ALIAS = "DBalias.NET"
MAIN_LOOP_PAUSE = 5

# Central-side
#CENTRAL_ALIAS = "CentrName.NET" # alias for filial db on central server
#CENTRAL_PREFIX = 'name' # prefix for tables
#LISTEN_URI = 'druby://:8083'

# DRb
$SAFE = 1   # disable eval() and friends

# Common
LOG_FILENAME = nil #'log.txt' # if nil then log to stdout
LOG_VERBOSE  = true
